@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/button.css';

* {
  box-sizing: border-box;
}

@layer components {
  .expanded-container {
    @apply flex flex-col h-full w-full;
  }

  @keyframes ripples {
    0% {
      @apply outline;
      opacity: 1;
    }
    100% {
      @apply outline outline-offset-4;
      opacity: 0;
    }
  }
}
